# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env
.env
.env.local
.env*.local

# Logs
npm-debug.log*

# Generated test artifacts
playwright-report/
test-results/

# OS
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Misc
*.tsbuildinfo
next-env.d.ts
